[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
Markdown = "*"
"Jinja2" = "*"
lxml = "*"
htmlmin = "*"
jsmin = "*"
libsass = "*"
XStatic-Bootstrap-SCSS = "*"
XStatic-Font-Awesome = "*"
XStatic-jQuery = "*"
WeasyPrint = "*"


[dev-packages]

pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
