[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
markdown = "*"
"jinja2" = "*"
lxml = "*"
htmlmin = "*"
jsmin = "*"
libsass = "*"
xstatic-bootstrap-scss = "*"
xstatic-font-awesome = "*"
xstatic-jquery = "*"
weasyprint = "*"
mdx-smartypants = "*"


[dev-packages]

pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
