<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% for favicon_size in (16, 32, 64, 128, 192, 256) %}
            <link rel="icon" type="image/png" sizes="{{ favicon_size }}x{{ favicon_size }}" href="https://gravatar.com/avatar/{{ gravatar_hash }}.jpeg?size={{ favicon_size }}">
        {% endfor %}
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 full-width-print">
                    {{ content }}
                </div>
                <div class="col-sm-4 hidden-print">
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4 col-sm-12 col-sm-offset-0"><img src="https://gravatar.com/avatar/{{ gravatar_hash }}.jpeg?size=400" alt="" class="img-responsive center-block img-circle konami-rotate"></div>
                    </div>
                    <div class="list-group links row">
                        {% for url, title, fa_class in links: %}
                            {% if loop.index < 6: %}
                                <a class="list-group-item col-lg-4 col-sm-6 col-xs-4" href="{{ url }}"><i class="fa {{ fa_class }} fa-fw" aria-hidden="true"></i>&nbsp; {{ title }}</a>
                            {% endif %}
                        {% endfor %}
                        <a class="list-group-item col-lg-4 col-sm-6 col-xs-4" href="/elsewhere"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>&nbsp; Elsewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdn.ravenjs.com/3.20.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
Raven.config('https://87a4caa0fd8c4333929598cdd2e4b19b@sentry.io/255252').install();
</script>
        <audio class="konami-audio">
            <source src="/audio/sick-loop.mp3" type='audio/mp3' />
        </audio>
        <script src="/js/main.min.js"></script>
    </body>
</html>
