@import "scss/bootstrap/_variables";

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Merriweather', serif;

$font-family-base: $font-family-serif;
$font-size-base: 16px;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

$line-height-base: 1.8;

@import "scss/bootstrap";
@import "scss/font-awesome";

body {
  margin-top: ($padding-base-vertical * 3);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: ($line-height-computed * 2);
  margin-bottom: $line-height-computed;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

.links {
  font-family: $font-family-sans-serif;

  .list-group-item {
    border-width: 0;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: ellipsis;
  }
  a.list-group-item {
    color: $link-color;
  }
  a.list-group-item:hover {
    background-color: inherit;
  }
}


@media (max-width: $screen-sm-min) {
  .sm-third-size {
    max-width: 33%;
  }
}

.map {
  width: 100%;
  height: 400px;
  margin: 0 0 ($line-height-computed / 2);
  border: none;
}

@media print {
  .full-width-print { width: 100%; }
  h1, .h1 { page-break-after: avoid; }
  
  // Set font sizes for print.
  $font-size-base: 12px;
  $line-height-base: 1.8;
  @import "scss/bootstrap/_variables";
  @import "scss/bootstrap/_scaffolding";

  // From _type.scss which can't be @import-ed here.
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;

    small,
    .small {
      font-weight: normal;
      line-height: 1;
      color: $headings-small-color;
    }
  }

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-top: $line-height-computed;
    margin-bottom: ($line-height-computed / 2);

    small,
    .small {
      font-size: 65%;
    }
  }
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);

    small,
    .small {
      font-size: 75%;
    }
  }

  h1, .h1 { font-size: $font-size-h1; }
  h2, .h2 { font-size: $font-size-h2; }
  h3, .h3 { font-size: $font-size-h3; }
  h4, .h4 { font-size: $font-size-h4; }
  h5, .h5 { font-size: $font-size-h5; }
  h6, .h6 { font-size: $font-size-h6; }

  @page {
    @bottom-left {
      content: 'http://craiga.id.au/';
      font-family: $font-family-base;
      font-size: $font-size-base;
    }

    @bottom-right {
      content: counter(page) " of " counter(pages);
      font-family: $font-family-base;
      font-size: $font-size-base;
    }
  }
}
