<div class="row no-gutters">
    <div class="col-4 offset-4 col-md-12 offset-md-0">
        <a href="/" class="avatar rounded rounded-lg shadow"></a>
    </div>
</div>
<div class="row no-gutters pt-3">
    {% for link in site.sidebar_links %}
        <a class="col-xl-4 col-lg-6 col-md-12 col-sm-4 col-6 py-1 text-truncate text-sans-serif" href="{{ link.url }}">
            <img src="/fontawesome-5.9.0/{{ link.fontawesome-file }}.svg" class="fa-svg">{{ link.text }}
        </a>
    {% endfor %}
</div>
<footer class="text-sans-serif text-muted small pt-3">
    <a href="https://github.com/craiga/craiga.id.au/blob/master/LICENSE">&copy; {{ "now" | date: "%Y" }} Craig Anderson.</a>
    Photo by <a href="http://www.hannahspence.com">Hannah Spence</a>.
</footer>
