<div class="row no-gutters">
    <div class="col-xs-4 col-xs-offset-4 col-sm-12 col-sm-offset-0">
        <img src="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=400" alt="" class="rounded-circle  konami-rotate">
    </div>
    <div class="row no-gutters pt-3">
        {% for link in site.sidebar_links %}
            <a class="col-lg-4 col-sm-6 col-xs-4 py-1 text-truncate text-sans-serif" href="{{ link.url }}">
                <i class="{{ link.fontawesome-classes }} fa-fw " aria-hidden="true"></i>&nbsp; {{ link.name }}
            </a>
        {% endfor %}
    </div>
</div>