<aside id="sidebar">
  <a href="/" id="sidebar-my-face">
    <img src="/assets/craig.jpg" alt="Craig Anderson">
    <h1>Hi, I'm Craig Anderson</h1>
  </a>

  <section id="sidebar-work"><p>I'm a <a href="/work">freelance digital product developer specialising in Python and
      Django</a>.
      I've given <a href="/talks">some talks about my work</a>.
      Read more about my work in my <a href="/cv">CV</a>, or take a look at
      <a href="https://github.com/craiga" data-fathom-goal-id="NUVSRQS9">my open-source code on GitHub</a>.</p>
  </section>

  <section id="sidebar-social-media"><p>You can find me on
      <a href="https://www.facebook.com/craiga" data-fathom-goal-id="SNBP7KII">Facebook</a>,
      <a href="https://twitter.com/_craiga" data-fathom-goal-id="PNERSROJ">Twitter</a>, and
      <a href="/elsewhere">lots of other sites</a>.</p></section>

  <section id="sidebar-lockdown"><p><a href="/lockdown">I'm staying at home during the COVID-19 crisis.</a></p></section>

  <section id="sidebar-blog"><p>I <a href="/blog">sometimes blog about things</a>.
    {% assign post = site.posts.first %}
    Most recently, I wrote <a href="{{ post.url }}">{{post.title}}</a>.
  </p></section>

  <section id="sidebar-lists"><p>I'm a bit of a nerd for <a href="/lists">making lists</a>.
    {% assign list = site.lists.first %}
    <a href="{{ list.url }}">{{ list.title }}</a> was my most recently updated list.
  </p></section>

  <section id="sidebar-music"><p><a href="https://www.songkick.com/users/craigeanderson" data-fathom-goal-id="MFY8YDCU">Watching live music</a>
      is one of my favourite things to do.
      <span id="lastfm-placeholder">You can also take a look at <a href="https://www.last.fm/user/craiganderson" data-fathom-goal-id="3STUFA3T">what I've been listening to lately</a>.</span></p></section>

  <section id="sidebar-beer"><p>I’m <a href="https://untappd.com/user/craiganderson" data-fathom-goal-id="MTSC4GSE">a bit of a craft beer nerd</a>.</p></section>

  <section id="sidebar-melbourne"><p>My home town is <a href="/melbourne">Melbourne</a> where I used to
      play bass guitar in <a href="http://lookwhostoxic.com" data-fathom-goal-id="584BRDV7">Look Who's Toxic</a>.</p></section>

  <footer>
      <p><a href="https://github.com/craiga/craiga.id.au/blob/master/LICENSE">&copy; {{ "now" | date: "%Y" }}
              Craig Anderson.</a>
            Photos by <a href="http://www.hannahspence.com">Hannah Spence</a>,
              <a href="https://unsplash.com/photos/ieic5Tq8YMk">Chris Reid</a>,
              <a href="https://unsplash.com/photos/0VGG7cqTwCo">Rodion Kutsaev</a>,
              <a href="https://unsplash.com/photos/3ym6i13Y9LU">Mike Tinnion</a>,
              <a href="https://unsplash.com/photos/RLw-UC03Gwc">Glenn Carstens-Peters</a>,
              <a href="https://twitter.com/idlesband/status/1204361215864123399/photo/1">IDLES</a>,
              <a href="https://unsplash.com/photos/08tX2fsuSLg">Christin Hume</a>, and
              <a href="https://unsplash.com/photos/iFdPrhOPI_E">Weyne Yew</a>.
            Using the colour palette <a href="https://ethanschoonover.com/solarized/">Solarized</a>.
            Ethical, cookie-free analytics by <a href="https://usefathom.com/ref/UIMQVW">Fathom</a>.
            <span id="tracking-message"></span></p>
  </footer>
</aside>
