<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="16x16" href="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=16">
        <link rel="icon" type="image/png" sizes="32x32" href="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=32">
        <link rel="icon" type="image/png" sizes="64x64" href="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=64">
        <link rel="icon" type="image/png" sizes="128x128" href="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=128">
        <link rel="icon" type="image/png" sizes="192x192" href="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=192">
        <link rel="icon" type="image/png" sizes="256x256" href="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=256">
        <link rel="apple-touch-icon" href="https://gravatar.com/avatar/{{ site.gravatar_hash }}.jpeg?size=180">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?{{site.time | date: '%s%N'}}">
        {% seo title=true %}
        {% feed_meta %}
    </head>
    <body>
