<!DOCTYPE html>
<html lang="en" class="layout-{{ page.layout }}"{% if page.id %} id="page-{{ page.id | slugify }}"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/craig-square-16.jpg">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/craig-square-32.jpg">
        <link rel="icon" type="image/png" sizes="64x64" href="/assets/craig-square-64.jpg">
        <link rel="icon" type="image/png" sizes="128x128" href="/assets/craig-square-128.jpg">
        <link rel="icon" type="image/png" sizes="192x192" href="/assets/craig-square-192.jpg">
        <link rel="icon" type="image/png" sizes="256x256" href="/assets/craig-square-256.jpg">
        <link rel="apple-touch-icon" href="/assets/craig-square-180.jpg">
        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?{{ site.github.build_revision }}">
        {% seo title=true %}
        {% feed_meta %}
    </head>
    <body>
      {% if page.include-mobile-intro %}
        <header id="mobile-intro">
          <img src="/assets/craig-square.jpg" alt="Craig Anderson">
          <h1><a href="#sidebar">Hi, I'm Craig Anderson.</a></h1>
          <p><a href="#sidebar">Jump down to read more about me.</a>
        </header>
      {% endif %}
      <main>
