// https://www.canva.com/colors/color-palette-generator/
// colours from this tool were Dune (#23211F), Rodeo Dust (#C8AE9E),
// Mountain Meadow (#0EB886) and Astral (#3174B0).

$hueOffset: -15;
$saturation: 50;
$lightness: 50;

$red:     hsl(0 + $hueOffset, $saturation, $lightness);
$yellow:  hsl(60 + $hueOffset, $saturation, $lightness);
$green:   hsl(140 + $hueOffset, $saturation, $lightness);  // https://coolors.co/0eb886
// $cyan:  hsl(180 + $hueOffset, $saturation, $lightness);
$blue:    hsl(240 + $hueOffset, $saturation, $lightness);
$purple:  hsl(300 + $hueOffset, $saturation, $lightness);

$brown: #23211F;
$offWhite: #f8f8f0;

$rainbow: $blue, $purple, $red, $yellow, $green;
