$saturation: 100%;
$lightness: 40%;

$red:     hsl(0, $saturation, $lightness);
$orange:  hsl(40, $saturation, $lightness);
$green:   hsl(120, $saturation, $lightness);
$cyan:    hsl(180, $saturation, $lightness);
$blue:    hsl(240, $saturation, $lightness);
$purple:  hsl(300, $saturation, $lightness);


$darkOrange: #201c0b;
$offWhite: #fefcfb;

$rainbow: $blue, $purple, $red, $orange, $green, $cyan;
