$baseSize: 18px;
$printBaseSize: 16px;
$smallSize: $baseSize * 0.75;
$printSmallSize: $printBaseSize * 0.75;
$maxWidth: $baseSize * 40;
$headerHeight: $baseSize * 18;


#content {
  font-size: $baseSize;
  color: $brown;
  background: $offWhite;
  font-family: $serif;
  line-height: 1.4;
  
  @media print {
    font-size: $printBaseSize;
  }

  header {
    background-image: linear-gradient(to bottom right, nth($rainbow, -3), nth($rainbow, -2));
    color: $offWhite;
    margin-bottom: $headerHeight * .382;
    
    @media print {
      margin-bottom: 0;
    }

    h1 {
      min-height: $headerHeight;
      display: flex;
      align-items: center;
      max-width: $maxWidth;
      margin: 0 auto;
      padding: $baseSize;
      font-size: $baseSize * 2.5;
      @media (max-height: $headerHeight * 1.75) {
        min-height: 0;
      }
      @media print {
        min-height: 0;
        max-width: 100%;
        padding: 0;
        font-size: $printBaseSize * 2.5;
      }
    }

    p {
      max-width: $maxWidth;
      margin: 0 auto;
      font-size: $smallSize;
      padding: 0 $baseSize $baseSize $baseSize;
      overflow-wrap: break-word;
      a {
        color: $offWhite;
        border-color: $offWhite;
        &:visited {
          color: $offWhite;
          border-color: $offWhite;
        }
      }
    }

    img {
      float: right;
      box-sizing: border-box;
      border: 8px solid nth($rainbow, -1);
      width: 38.2% * 0.618;
      min-width: $baseSize * 10;
      margin-right: 38.2vw * .618 * .382;
      margin-left: $baseSize;
      position: relative;
      top: $baseSize * -2;
      @media (max-height: $headerHeight * 1.75) {
        top: -16px;
      }
    }
  }

  section {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 $baseSize $headerHeight * .382 $baseSize;
    @media print {
      max-width: 100%;
      padding: 0;
    }

    .footnotes {
      margin-top: $baseSize * 5;
      border-top: $baseSize / 2 solid nth($rainbow, -1);
    }

    img {
      max-width: 100%;
    }

    hr {
      border-top: $baseSize / 2 solid $brown;
    }

    .highlighter-rouge {
      font-size: $baseSize * $monospaceScale;
      font-family: $monospace;
    }

    code.highlighter-rouge {
      color: $red;
    }

    .highlighter-rouge pre {
      border: $baseSize * 0.1 solid $red;
      padding: $baseSize;
      margin-bottom: $baseSize * 3;
      overflow-x: scroll;

      @media (min-width: ($maxWidth + $baseSize * 4) * 100 / 61.8) {
        position: relative;
        left: $baseSize * -1.1;
        width: 100%;
      }
    }

    .map {
      width: 100%;
      height: 400px;
      margin: 0;
      border-width: 0;
    }

    @for $i from 1 through length($rainbow) {
      hr:nth-of-type(#{length($rainbow)}n + #{$i}) {
        border-color: nth($rainbow, $i);
      }
    }
  }

  h1 {
    font-size: $baseSize * 2.5;
    margin: $baseSize * 2.5 0 $baseSize 0;
  }

  h2 {
    font-size: $baseSize * 2;
    margin: $baseSize * 2 0 $baseSize 0;
  }
  
  h3 {
    font-size: $baseSize * 1.75;
    margin: $baseSize * 1.75 0 $baseSize 0;
  }

  @media print {
    h1 {
      font-size: $printBaseSize * 2;
      margin: $printBaseSize * 2 0 $printBaseSize 0;
    }
    h2 {
      font-size: $printBaseSize * 1.75;
      margin: $printBaseSize * 1.75 0 $printBaseSize 0;
    }
    h3 {
      font-size: $printBaseSize * 1.5;
      margin: $printBaseSize * 1.5 0 $printBaseSize 0;
    }
  }
}
