$sansSerif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
$monospace: "Lucida Console", Monaco, monospace;
$monospaceScale: 0.875;
$heading: Futura, "Gill Sans", "Gill Sans MT", $sansSerif;
