$baseSize: 18px;
$headerHeight: $baseSize * 18;

#index {
  font-size: $baseSize;
  color: $offWhite;
  font-family: $serif;
  line-height: 1.4;

  header, article {
    padding: $baseSize * 2.5 $baseSize * 2;
  }
  
  header {
    h1 {
      min-height: $headerHeight;
      display: flex;
      align-items: center;
      font-size: $baseSize * 2.5;
      @media (max-height: $headerHeight * 2.5) {
        min-height: 0;
      }
    }
    
  }
  
  article {
    figure {
      padding-left: $baseSize;
      @media (max-width: 510px) {
        padding: 0;
      }
    }

    .small {
      font-size: $baseSize * 0.75;
    }

    h1 {
      a {
        line-height: 135%;
      }
      @media (max-width: 1000px) {
        font-size: $baseSize * 1.5;
      }
    }
  }

  @for $i from 1 through length($rainbow) {
    header:nth-child(#{length($rainbow)}n + #{$i}), article:nth-child(#{length($rainbow)}n + #{$i}) {
      background: nth($rainbow, $i);
    }
  }

  h1 {
    font-size: $baseSize * 2.5;
    margin: $baseSize 0 $baseSize 0;
    a {
      color: inherit;
      border-color: $offWhite;
      border-width: 2px;
    }
  }

  a {
    color: inherit;
    border-color: $base1;
    &:hover {
      border-color: $offWhite;
    }
  }
}
