$baseSize: 16px;
$smallSize: $baseSize * 0.8;
$opacity: 0.9;

#mobile-intro {
  background-color: nth($rainbow, -1);
  color: $offWhite;
  font-family: $sansSerif;
  font-size: $baseSize;
  line-height: 1.5;
  padding: $baseSize * 2;

  a {
    color: $offWhite;
    border-color: $offWhite;
    border-width: 2;
    &:hover {
      border-color: $offWhite;
    }
  }

  h1 {
    font-size: $baseSize * 2;
    a {
      border-width: 0;
    }
    @media (max-width: 400px) {
      font-size: $baseSize * 1.75;
    }
  }
  
  img {
    float: right;
    border-radius: 50%;
    max-width: 32.8vw;
    max-height: $baseSize * 7;
    padding-left: $baseSize / 2;
  }
  
  @media (min-width: 800px) {
    display: none;
  }
}
