@charset "utf-8";

// Colours from Solarized.
$blue:    #268bd2;
$indigo:  #6c71c4;
$purple:  #6c71c4;
$pink:    #d33682;
$red:     #dc322f;
$orange:  #cb4b16;
$yellow:  #b58900;
$green:   #859900;
$teal:    #2aa198;
$cyan:    #2aa198;


// Additional colours from Solarized.
$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;

$white:   #ffffff;

$body-color: $base02;
$body-bg: $white;
$border-color: $base0;
$hr-border-color: $base0;

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, serif;

$font-family-base: $font-family-serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

$border-radius-lg: 17%;

@import "bootstrap-4.3.1/functions";
@import "bootstrap-4.3.1/variables";
@import "bootstrap-4.3.1/mixins";
@import "bootstrap-4.3.1/root";
@import "bootstrap-4.3.1/reboot";
@import "bootstrap-4.3.1/type";
@import "bootstrap-4.3.1/code";
@import "bootstrap-4.3.1/grid";
@import "bootstrap-4.3.1/tables";
@import "bootstrap-4.3.1/utilities";
@import "bootstrap-4.3.1/print";

@import "rouge";

html, body {
  height: 100%;
  font-size: 18px;
}

h1, h2 {
  font-family: Futura, "Gill Sans", "Gill Sans MT", $headings-font-family;
  letter-spacing: -1px;
}

.h3, .h4, .h5, .h6 {
  letter-spacing: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    color: $base2;
    background-color: $black;
  }

  a {
    @include hover {
      color: lighten($link-color, 15%);
    }
  }

  .table {
    color: $base2;
    th, td {
      border-color: $base2;
    }
  }
}

html#page-home {
  #col-main {
    font-size: 1.3rem;
    @include media-breakpoint-down("sm") {
      font-size: 1rem;
    }
  
    h1 {
      margin-bottom: 1rem;
      @include media-breakpoint-down("sm") {
        margin-bottom: 0.5rem;
      }
    }
  }

  @media (orientation: portrait) {
    body {
      background-color: #29251F;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      animation-name: slowscroll;
      animation-duration: 600s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      padding: 1em;

      background-image: url('/assets/craig-xs.optimised.jpg');
      @include media-breakpoint-up("sm") {
        background-image: url('/assets/craig-sm.optimised.jpg');
      }
      @include media-breakpoint-up("md") {
        background-image: url('/assets/craig-md.optimised.jpg');
      }
      @include media-breakpoint-up("lg") {
        background-image: url('/assets/craig-lg.optimised.jpg');
      }
      @include media-breakpoint-up("xl") {
        background-image: url('/assets/craig-xl.optimised.jpg');
      }

      .container {
        background-color: rgba(0, 0, 0, 0.8);
        color: $base2;
        @include media-breakpoint-up("lg") {
          padding-top: 4rem !important;
          padding-bottom: 4rem !important;
        }
      }

      @include media-breakpoint-up("sm") {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h1 {
        color: $base2;
      }

      a {
        @include hover {
          color: lighten($link-color, 15%);
        }
      }

      .avatar {
        display: none;
      }
    }
  }
}

@keyframes slowscroll {
  0% {
    background-position: center;
  }
  25% {
    background-position: top left;
  }
  75% {
    background-position: bottom right;
  }
  100% {
    background-position: center;
  }
}

.text-sans-serif {
  font-family: $font-family-sans-serif;
}

$headings-margin-top: $spacer * 1.5;
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $headings-margin-top;
}

blockquote {
  font-family: $font-family-serif;
  font-style: italic;
  padding-left: $spacer;
}

img {
   max-width: 100%;
}

.map {
  width: 100%;
  height: 400px;
  margin: 0 0 ($line-height-base / 2);
  border: none;
}

.highlighter-rouge pre {
  padding: $spacer;
  border: $border-width solid $border-color;
}

// .video-wrapper classes adapted from
// https://alistapart.com/article/creating-intrinsic-ratios-for-video

.video-wrapper {
  position: relative;
  height: 0;
}

.video-wrapper-16-9 {
  padding-bottom: 56.25%;
}

.video-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.colour {
  width: 100%;
  height: 100%;
}

.fa-svg {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}

// Following filters taken from https://codepen.io/sosuke/pen/Pjoqqp
// found via https://stackoverflow.com/a/53336754
a .fa-svg {
  filter: invert(36%) sepia(97%) saturate(603%) hue-rotate(168deg) brightness(106%) contrast(86%);
}
a:hover .fa-svg {
  filter: invert(28%) sepia(52%) saturate(1253%) hue-rotate(172deg) brightness(94%) contrast(87%);
}

.avatar {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-size: contain;
  background-image: url("/assets/avatar-340.optimised.jpg");
  @include media-breakpoint-up("md") {
    background-image: url("/assets/avatar-420.optimised.jpg");
  }
  @include media-breakpoint-up("lg") {
    background-image: url("/assets/avatar-580.optimised.jpg");
  }
  @include media-breakpoint-up("xl") {
    background-image: url("/assets/avatar-700.optimised.jpg");
  }
}

@media print {
  *,
  *::before,
  *::after {
    color: $black !important;
    background: transparent !important;
  }

  a {
    color: inherit;
    text-decoration: none !important;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  a.footnote:after, a.reversefootnote:after {
    content: "";
  }

  @page {
    @bottom-left {
      content: 'http://craiga.id.au\2003\25CF\2003http://uhf62.co.uk';
      font-family: $font-family-base;
      font-size: $font-size-base;
    }

    @bottom-right {
      content: counter(page) " of " counter(pages);
      font-family: $font-family-base;
      font-size: $font-size-base;
    }
  }
}
