@charset "utf-8";

// Colours from Solarized.
$blue:    #268bd2;
$indigo:  #6c71c4;
$purple:  #6c71c4;
$pink:    #d33682;
$red:     #dc322f;
$orange:  #cb4b16;
$yellow:  #b58900;
$green:   #859900;
$teal:    #2aa198;
$cyan:    #2aa198;


// Additional colours from Solarized.
$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;

$white:   #ffffff;

$body-color: $base02;
$body-bg: $white;

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Merriweather', serif;

$font-family-base: $font-family-serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

$line-height-base: 1.8;

$border-radius-lg: 17%;

@import "bootstrap-4.3.1/bootstrap";
@import "fontawesome-5.7.1/fontawesome";
@import "fontawesome-5.7.1/solid";
@import "fontawesome-5.7.1/brands";
@import "rouge";

@media (prefers-color-scheme: dark) {
  body {
    color: $base2;
    background-color: $black;
  }
}

.text-sans-serif {
  font-family: $font-family-sans-serif;
}

$headings-margin-top: $spacer * 1.5;
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $headings-margin-top;
}

blockquote {
  font-family: $font-family-serif;
  font-style: italic;
  padding-left: $spacer;
}

img {
   max-width: 100%;
}

.map {
  width: 100%;
  height: 400px;
  margin: 0 0 ($line-height-base / 2);
  border: none;
}

.highlighter-rouge pre {
  padding: $spacer;
  border: $border-width solid $gray-800;
}

// .video-wrapper classes adapted from
// https://alistapart.com/article/creating-intrinsic-ratios-for-video

.video-wrapper {
  position: relative;
  height: 0;
}

.video-wrapper-16-9 {
  padding-bottom: 56.25%;
}

.video-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.rotate {
  animation: rotation 1.33s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media print {
  *,
  *::before,
  *::after {
    color: $black !important;
    background: transparent !important;
  }

  a {
    color: inherit;
    text-decoration: none !important;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  a.footnote:after, a.reversefootnote:after {
    content: "";
  }

  @page {
    @bottom-left {
      content: 'http://craiga.id.au\2003\25CF\2003http://uhf62.co.uk';
      font-family: $font-family-base;
      font-size: $font-size-base;
    }

    @bottom-right {
      content: counter(page) " of " counter(pages);
      font-family: $font-family-base;
      font-size: $font-size-base;
    }
  }
}
