@charset "utf-8";

@import "colours";
@import "fonts";
@import "sidebar";
@import "content";
@import "index";
@import "article-preview";
@import "page/work";
@import "page/home";

@import "rouge";

html {
  height: 100%;
  background-color: $offWhite;
}

body {
  margin: 0;
}

@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    min-height: 100%;
    overflow-x: hidden;

    main {
      width: 61.8vw;
      flex-grow: 1;
      min-height: 100%;
      margin: 0;
    }
  
    #sidebar {
      width: 38.2vw;
      flex-grow: 0;
      min-height: 100%;
      margin: 0;
    }
  }
}



h1, h2 {
  font-family: $heading;
  letter-spacing: -1px;
  line-height: 110%;
}

h3, h4, h5, h6 {
  font-family: $sansSerif;
  letter-spacing: -1px;
  line-height: 110%;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px solid $blue;
  &:hover, &:focus, &:active {
    border-width: 2px;
  }
  &:visited {
    color: $violet;
    border-color: $violet;
  }
}

blockquote {
  font-style: italic;
}

// .video-wrapper classes adapted from
// https://alistapart.com/article/creating-intrinsic-ratios-for-video

.video-wrapper {
  position: relative;
  height: 0;

  iframe, video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
  }
}

.video-wrapper-16-9 {
  padding-bottom: 56.25%;
}

.video-wrapper-3-4 {
  padding-bottom: 133.33%;
}

