{% include top.html %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-8" id="col-main">
            <h1 class="mt-0">{{ page.title }}</h1>
            <p class="small">
                Published {{ page.date | date: "%e %B, %Y" }}{% if page.date_updated %}; last updated on {{ page.date_updated | date: "%e %B, %Y" }}{% endif %}{% if page.original_url %}; originally posted at <a href="{{ page.original_url }}">{{ page.original_url }}</a>{% endif %}.
            </p>
            {{ content }}
        </div>
        <div class="col-md-4 d-print-none" id="col-side">
            {% include sidebar.html %}
        </div>
    </div>
</div>

{% include bottom.html %}
